body {
    margin: 0;
    padding: 0;
    background: #000000;
}

.container {
    width: 200px;
    height: 600px;
    padding-top: 100px;
    margin: 0 auto;
}

.ball {
    width: 150px;
    height: 10px;
    margin: 10px auto;
    border-radius: 50px;
    background: dodgerblue;
}

.text {
    text-align: center;
    margin: 10px auto;
    color: white;
    -webkit-animation: middle 2s infinite linear;
    -moz-animation: middle 2s infinite linear;
    animation: middle 2s infinite linear;
}


.ball:nth-child(1) {
    -webkit-animation: middle 2.05s infinite linear;
    -moz-animation: middle 2.05s infinite linear;
    animation: middle 2.05s infinite linear;
}

.ball:nth-child(2) {
    -webkit-animation: middle 2.1s infinite linear;
    -moz-animation: middle 2.1s infinite linear;
    animation: middle 2.1s infinite linear;
}

.ball:nth-child(3) {
    -webkit-animation: middle 2.15s infinite linear;
    -moz-animation: middle 2.15s infinite linear;
    animation: middle 2.15s infinite linear;
}

.ball:nth-child(4) {
    -webkit-animation: middle 2.2s infinite linear;
    -moz-animation: middle 2.2s infinite linear;
    animation: middle 2.2s infinite linear;
}

.ball:nth-child(5) {
    -webkit-animation: middle 2.25s infinite linear;
    -moz-animation: middle 2.25s infinite linear;
    animation: middle 2.25s infinite linear;
}

.ball:nth-child(6) {
    -webkit-animation: middle 2.3s infinite linear;
    -moz-animation: middle 2.3s infinite linear;
    animation: middle 2.3s infinite linear;
}

.ball:nth-child(7) {
    -webkit-animation: middle 2.35s infinite linear;
    -moz-animation: middle 2.35s infinite linear;
    animation: middle 2.35s infinite linear;
}
.ball:nth-child(8) {
    -webkit-animation: middle 2.4s infinite linear;
    -moz-animation: middle 2.4s infinite linear;
    animation: middle 2.4s infinite linear;
}

.ball:nth-child(9) {
    -webkit-animation: middle 2.45s infinite linear;
    -moz-animation: middle 2.45s infinite linear;
    animation: middle 2.45s infinite linear;
}

.ball:nth-child(10) {
    -webkit-animation: middle 2.5s infinite linear;
    -moz-animation: middle 2.5s infinite linear;
    animation: middle 2.5s infinite linear;
}

.ball:nth-child(11) {
    -webkit-animation: middle 2.55s infinite linear;
    -moz-animation: middle 2.55s infinite linear;
    animation: middle 2.55s infinite linear;
}

.ball:nth-child(12) {
    -webkit-animation: middle 2.6s infinite linear;
    -moz-animation: middle 2.6s infinite linear;
    animation: middle 2.6s infinite linear;
}

.ball:nth-child(13) {
    -webkit-animation: middle 2.65s infinite linear;
    -moz-animation: middle 2.65s infinite linear;
    animation: middle 2.65s infinite linear;
}

.ball:nth-child(14) {
    -webkit-animation: middle 2.7s infinite linear;
    -moz-animation: middle 2.7s infinite linear;
    animation: middle 2.7s infinite linear;
}

@-webkit-keyframes middle {
    0% {
        -webkit-transform: translate(0);
    }
    25% {
        -webkit-transform: translate(-60px);
    }
    50% {
        -webkit-transform: translate(0);
    }
    75% {
        -webkit-transform: translate(60px);
    }
    600% {
        -webkit-transform: translate(0);
    }
}

@keyframes middle {
    0% {
        -webkit-transform: translate(0);
    }
    25% {
        -webkit-transform: translate(-60px);
    }
    50% {
        -webkit-transform: translate(0);
    }
    75% {
        -webkit-transform: translate(60px);
    }
    600% {
        -webkit-transform: translate(0);
    }
}

@-moz-keyframes middle {
    0% {
        -webkit-transform: translate(0);
    }
    25% {
        -webkit-transform: translate(-60px);
    }
    50% {
        -webkit-transform: translate(0);
    }
    75% {
        -webkit-transform: translate(60px);
    }
    600% {
        -webkit-transform: translate(0);
    }
}

